nav{
    background-color: rgba(203, 203, 203, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: slideDown 0.8s ease;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

nav h1{
    font-size: 24px;
    color: #333;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li{
    font-size: 18px;
    color: #333;
    cursor: pointer;
    position: relative;
}

nav li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: 0.3s ease;
}

nav li:hover::after{
    content: '';
    position: absolute;
    width: 100%;
}

nav a{
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    nav {
        padding: 20px;
    }

    nav h1 {
        font-size: 20px;
    }

    nav ul {
        gap: 10px;
    }

    nav li {
        font-size: 16px;
    }

    nav li::after {
        height: 1px;
    }
}